body {
    display:flex;
    width:100%;
    height: auto;
    background: url("https://i.pinimg.com/originals/fb/2f/42/fb2f42619c64a29927ad64cd72dafe51.gif");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
  }
form
{background-color: orange;
    width: 500px;
    border-radius: 25px;
    height: 600px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;
    background-color: orange;
    width: 500px;
    border-radius: 25px;
}
form h1{
    color:rgb(152, 22, 143);
    text-align:center;
    font-size:22px;
}
label{
    color:rgb(33, 113, 43);
    font-weight:bold;
    padding-bottom:5px;
    padding-top:15px;
    font-family: cursive;
    display:inline-block;
}
input, 
textarea{
    box-sizing:border-box;
    width:450px;
    height:30px;
    padding-left:5px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height:50px;
}
#button-row{
    display:flex;
    justify-content:center;
}
button{
    flex-grow:1;
    width:125px;
    margin:25px;
    border-radius: 15px;
    height:35px;
    font-size:20px;
}
button#send
{
    background-color: rgb(60, 194, 209);
    color:white;
}
button#reset{
    background-color:rgb(225, 88, 216);
    color:black;
}

    
 